body {
    background-color: darkgray;

}
h1, p, input {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.iphone {
    margin: 20px auto;
    max-width: 400px;
    height: 700px;
    background: #ffffff;
    border: 10px solid black;
    border-radius: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.plus {
    align-self: center;
}
.find {
    margin: 0 15px;
    overflow: hidden;
    display: flex;
    padding: 5px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    flex-shrink: 0;
}
.find input {
    width: 100%;
    line-height: 30px;
    border: 0 solid white;
    padding-left: 10px;
    font-size: 16px;
}
.find i {
    font-size: 26px;
    color: gray;
    line-height: 30px;
    padding: 0 10px;
}
.myinfo {
    display: flex;

}
.myinfo__content {
    display: flex;
    flex-direction: column;
    align-self: center;

}
.myinfo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 20px;
}
.myinfo__name p {
    font-weight: bold;
    margin-bottom: 5px;
}
.wrapper {
    margin: 0 15px;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid grey;
    overflow-y: scroll;
    flex-grow: 100;
    margin: 0 0;
}
.blockAdd input {
    display: flex;
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid grey;
}

.footer {
    display: flex;
    justify-content: center;
}
.blockAdd {
    position: relative;
    top: 5px;
    left: 100px;
    z-index: 2222;
}
.blockAdd .btn {
    position: relative;
    left: 50px;
}